name = "demo_assignment"
base = "demo/assignment/starter"
output = "demo/moss_results"
curr_sem = "demo/assignment/sem1"
assn_dirs = ["demo/assignment/sem2", "demo/assignment/githubs"]
download = true
match_formatter = "simplify_folder"
submission_filter = "remove_fake"
custom_file = "demo/demo_custom.py"